<form role="form">
    <div class="form-group input-group col-4 prof-act-btns">
        <button class="btn btn-secondary" type="button" value="Add" (click)="addProfile();">Add</button>
        <button class="btn btn-secondary" type="button" value="Notification">Notification</button>
    </div>
    <div class="form-group input-group">
        <input type="text" class="form-control">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-fw fa-search"></i></span>
        </div>
    </div>
</form>